<!-- Made by @bentettmar -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>discord img host made by @bentettmar</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="discord img host made by @bentettmar">
        <meta name="twitter:image" content="https://cdn.discordapp.com/attachments/983401309384364052/984122153056219146/are_you_single.png">
        <meta name="theme-color" content="#2F3136">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

        <style>
            body, html {
                height: 100%;
            }

            body {
                background-color: #17191c;
                margin: 10px;
                overflow: hidden;
            }

            .center {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .welcome-card {
                max-width: 30ch;
            }
        </style>
    </head>
    <body class="text-white">
        <div class="center">
            <div class="card bg-dark welcome-card">
                <div class="card-header">
                    <h5 class="text-center my-2">discord img host made by <a href="https://github.com/bentettmar">@bentettmar</a></h5>
                </div>
                <div class="card-body">
                    <img src="https://cdn.discordapp.com/attachments/983401309384364052/984122153056219146/are_you_single.png" class="img-fluid rounded">
                    <a href="/register" class="btn btn-secondary w-100 mt-2">get access</a>
                </div>
            </div>
        </div>
    </body>
</html>